.button-play {
  background: #86D660;
  font-size: 2em;
  height: 83px;
  margin-top: 1em;
  width: 444px;
}

div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

input[type=text] {
  background: #FFFFFF;
  border: 1px solid #000000;
  box-sizing: border-box;
  height: 76px;
  width: 444px;
}

.inputsText {
  font-family: Roboto;
  font-size: 40px;
  font-style: normal;
  font-weight: normal;
  height: 47px;
  line-height: 47px;
  text-align: center;
  width: 325px;
}
