.container {
  background: #FFFFFF;
  color: black;
  display: flex;
  flex-direction: column;
  height: 474px;
  text-align: center;
  width: 792px;
  padding: 1em;
}

select {
  background: #C4C4C4;
  height: 50px;
  width: 700px;
  margin: 2em;
}
